:root {
  scroll-behavior: smooth;
  --c-brand: #FEA815;
  --c-brand-light: #FBC420;
  --font-family: 'Noto Sans SC', 'Source Han Sans SC VF', 'Source Han Sans VF', sans-serif;
  --font-family-code: 'JetBrains Mono', 'Fira Code', 'Fira Mono', 'Cascadia Code', 'Cascadia Mono', 'Consolas', 'Courier New', Courier, monospace;
}

html.dark {
  --c-brand: #FBC420;
  --c-brand-light: #FEA815;
}
